@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    color: white;
    background-color: rgb(119, 119, 119);
}
@keyframes shine {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }