@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}
::selection {
  color: white;
  background-color: rgb(119, 119, 119);
}
/* Style the scrollbar container */
::-webkit-scrollbar {
  width: 12px; /* Adjust width for vertical scrollbar */
  height: 12px; /* Adjust height for horizontal scrollbar */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey background for the track */
  border-radius: 10px; /* Rounded corners for the track */
}

/* Style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #888; /* Darker grey for the thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
  border: 3px solid #f1f1f1; /* Optional: border for a 3D effect */
}

/* Hover effect for the thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker thumb when hovered */
}


@keyframes shine {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

pre {
  background-color: #1F2937;
  color: white;
  padding: 20px;
  border-radius: 20px;
  overflow-x: scroll;
}

li >code {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-radius: 0.25rem;
  color: #DC2626;
  background-color: #E5E7EB;
  border-radius: 30px;
  margin: 0 3px;
}
@keyframes move-up6 {
  to {
    transform: translateY(-5px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(5px);
  }
}

@keyframes move-updown1 {
  to {
    transform: translateY(10px);
  }
  from {
    transform: translateY(-7px);
  }
}

.animate-move-up6 {
  animation: move-up6 0.4s ease-in infinite alternate-reverse;
}

.animate-move-down1 {
  animation: move-down1 0.4s ease-in infinite alternate-reverse;
}

.animate-move-updown1 {
  animation: move-updown1 0.4s ease-in infinite alternate-reverse;
}
.rotate{
  left: 0%;
  width: 50%;
  transform: rotate(180deg);
}
th,td,tr{
  border: 1px solid black;
  padding: 3px 9px;
}